:root {
  --c-primary: #FF3B3F;
  --c-secondary: #1A1423;
  --c-black: #222;
  --c-white: #fff;
}

html {
  font-size: 1em;
}

body {
  @apply .font-sans .bg-white;
  font-weight: 400;
  line-height: 1.45;
}

::selection {
  @apply .bg-primary .text-white;
}
