{% extends 'layouts/default' %}

{% set socialTags = [
  { name: 'og:title', value: 'About page by @tj_fogarty' },
  { name: 'og:url', value: '/about' }
] %}

{% set metaTitle = 'About' %}

{% block content %}
<div class="l-container">
  <div class="l-about">
    <div>
      <h1 class="mt-0">{{ entry.title }}</h1>

      <div class="clearfix">
        <img src="https://gravatar.com/avatar/1148b889a6bb77a67f86f3976bceb9bb?s=250" sizes="(min-width: 600px) 165px, 100vw" srcset="https://gravatar.com/avatar/1148b889a6bb77a67f86f3976bceb9bb?s=250 250w, https://gravatar.com/avatar/1148b889a6bb77a67f86f3976bceb9bb?s=300 300w, https://gravatar.com/avatar/1148b889a6bb77a67f86f3976bceb9bb?s=550 550w" class="rounded-full mx-auto md:mr-6 md:ml-0 md:float-left" style="display: block; max-width: 165px; shape-outside: circle(50%);" decoding="async" width="165px" height="165px" />
        {{ entry.postContent }}
      </div>
    </div>

    <div>
      {% include 'components/_recently-played' %}
    </div>
  </div>

  {% include 'components/_instagram' %}
</div>
{% endblock %}