{% extends 'layouts/default' %}

{% set socialTags = [
  { name: 'og:title', value: entry.title ~ ' by @tj_fogarty' },
  { name: 'og:url', value: entry.url }
] %}

{% set metaTitle = entry.title %}

{% block content %}
  <h1>{{ entry.title | typogrify }}</h1>

  {{ entry.postContent | typogrify }}
{% endblock %}