<h2>Latest Posts</h2>
{% set latestPosts = craft.entries.section('posts').orderBy('postDate desc').limit(4).all() %}
<ul class="l-post-list">
{% for entry in latestPosts %}
  <li class="l-post-list__item">
    {% include 'posts/_preview' with { post: entry, showPostDate: false } only %}
  </li>
{% endfor %}
</ul>

<a class="c-btn c-btn-primary" href="/archive">View Archive</a>