<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# <link rel="manifest" href="site.webmanifest"> #}
    {# <link rel="apple-touch-icon" href="icon.png"> #}
    <!-- Place favicon.ico in the root directory -->
    {% if craft.config.devMode %}
    <link rel="stylesheet" href="http://localhost:8080/web/assets/css/app.css">
    {% else %}
    <link rel="stylesheet" href="/assets/css/app.css">
    {% endif %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    
    <div id="app"></div>
    
    {% if craft.config.devMode %}
    <script src="http://localhost:8080/web/assets/js/main.js"></script>
    {% else %}
    <script src="/assets/js/main.js"></script>
    {% endif %}
    
    {% block analytics %}
      {% hook 'iaSendPageView' %}
    {% endblock %}
  </body>
</html>