<!doctype html>
<html lang="en" {% include 'components/_style-switcher' %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ mix('/assets/css/app.css', true, true) | raw }}

    <link rel="preload" href="/assets/js/manifest.js" as="script" crossorigin>
    <link rel="preload" href="/assets/js/vendor.js" as="script" crossorigin>
    <link rel="preload" href="/assets/js/main.js" as="script" crossorigin>
  </head>
  <body>
    {% include 'components/_dev-warning' %}
    {% include 'components/_navigation' %}
    {% include 'components/_icons' %}

    <main class="content">
      {% block content %}{% endblock %}
    </main>

    <script src="/assets/js/manifest.js" defer></script>
    <script src="/assets/js/vendor.js" defer></script>
    <script src="/assets/js/main.js" defer></script>

    {% if not craft.app.config.general.devMode %}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js');
        })
      }
    </script>
    {% endif %}

    {% include 'components/_footer' %}

    {% include 'components/_search' %}

  </body>
</html>