<!doctype html>
<html lang="en" {% include 'components/_style-switcher' %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'components/_meta' %}

    {{ mix('/assets/css/app.css', true, true) | raw }}

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/tjfogarty">

    <meta name="google-site-verification" content="GVfTcYpZR7Iujvbox7Vft-ghdIbHmZmVwoRADA880Jc" />

    <meta name="theme-color" content="#197b8f" />

    <link rel="manifest" href="/manifest.json">

    <link rel="preload" href="/assets/js/main.js" as="script" crossorigin>
  </head>
  <body>
    {% include 'components/_dev-warning' %}
    {% include 'components/_navigation' %}
    {% include 'components/_icons' %}

    <main class="content">
      {% block content %}{% endblock %}
    </main>

    <script src="/assets/js/main.js" defer></script>

    {% include 'components/_footer' %}

    {% include 'components/_search' %}

    {% if not craft.app.config.general.devMode %}
    <!-- Ticksel v1.0 -->
    <script>
      var _tcfg = _tcfg || [];
      (function() {
        _tcfg.push(["tags", ""]);
        var u="https://cdn.ticksel.com/js/analytics_v1.0.js"; _tcfg.push(["account_id", 9392559]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0];
        g.type="text/javascript"; g.async=true; g.src=u; g.setAttribute("crossorigin", "anonymous");
        g.setAttribute("integrity", "sha256-7grd8jMivCG0iCcJ7m/Ny4gvWb0mPVpFhRQovLkaUl8=");
        s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><img src="https://beacon.ticksel.com/beam?account_id=9392559&referrer=&tags=" style="border:0;" width="0" height="0" alt="" /></noscript>
    <!-- End Ticksel Code -->
    {% endif %}
  </body>
</html>