<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    {% if craft.app.config.general.devMode %}
    <title>TJ Fogarty | DEV</title>
    <style>
      html {
        border: 5px solid #b4d455;
        width: 100%;
        height: 100%;
      }
    </style>
    {% else %}
    <title>TJ Fogarty | Web Developer</title>
    {% endif %}
    <meta name="description" content="Web Developer from Limerick, Ireland and living in Waterford.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    {% if craft.app.config.general.devMode %}
    <link rel="stylesheet" href="http://localhost:8080/web/assets/css/app.css">
    {% else %}
    <link rel="stylesheet" href="/assets/css/app.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110493614-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110493614-1');
    </script>
    {% endif %}
  </head>
  <body>
    {% block content %}{% endblock %}
    
    {% if craft.app.config.general.devMode %}
    <script src="http://localhost:8080/web/assets/js/main.js"></script>
    {% else %}
    <script src="/assets/js/main.js"></script>
    {% endif %}
  </body>
</html>