{% extends 'layouts/default' %}

{% set socialTags = [
  { name: 'og:title', value: 'Instagram posts by @tj_fogarty' },
  { name: 'og:url', value: '/instagram' }
] %}

{% set metaTitle = 'Instagram Posts' %}

{% block content %}
  <h1 class="mt-0">Instagram Posts</h1>

  {% cache %}
  <ul class="c-gallery">
    {% for media in craft.picPuller.media_recent({'user_id' : 1 }) %}
        {% if media.status == TRUE %}
        <li class="c-gallery__item">
          <a href="{{ media.link }}" rel="noopener" target="_blank" class="c-gallery__link">
            <img src="{{ media.thumbnail }}" alt="{{ media.caption_only }}" class="c-gallery__image" decode="async">
          </a>
        </li>
        {% endif %}
    {% endfor %}
  </ul>
  {% endcache %}

{% endblock %}