.c-footer {
  @apply .bg-primary .text-white;
}

.c-footer__link {
  @apply .text-white;
}

.c-footer__link-icon {
  @apply .flex .justify-between .items-center;
}

.c-footer__icon {
  @apply .text-white;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

@screen md {
  .c-footer__inner {
    @apply .flex .justify-between .items-center;
  }
}

.c-footer__icons {
  @apply .relative;
  top: 6px;
}
