//======= Nav =======//

.c-nav {
  @apply .flex .items-center .justify-between .flex-wrap .bg-white .p-6;
  position: sticky;
  top: 0;
}

//======= Nav Title =======//

.c-nav__title-container {
  @apply .flex .items-center .flex-no-shrink .text-white .mr-6;
}

.c-nav__title {
  @apply .text-xl .text-primary .no-underline;
}

//======= Nav Mobile =======//

.c-nav__mobile {
  @apply .block;
}

@screen md {
  .c-nav__mobile {
    @apply .hidden;
  }
}

.c-nav__mobile-button {
  @apply .flex .items-center .px-3 .py-2 .border .rounded .text-secondary .border-secondary;
}

.c-nav__mobile-button-icon {
  @apply .fill-current .h-3 .w-3;
}

//======= Nav Inner =======//

.c-nav__inner {
  @apply .w-full .block .flex-grow;
  height: 0;
  overflow: hidden;

  &.is-open {
    height: auto;
  }
}

@screen md {
  .c-nav__inner {
    @apply .flex .items-center .w-auto;
    height: auto;
  }
}

.c-nav__inner-left {
  @apply .text-sm;
}

@screen md {
  .c-nav__inner-left {
    @apply .flex-grow;
  }
}

//======= Nav Icon =======//

.c-nav__icon {
  width: 20px;
  height: 20px;
}

//======= Nav Link =======//

.c-nav__link {
  @apply .block .mt-6 .text-primary .mr-4 .no-underline;
  margin-top: 2px;

  &:after {
    @apply .block .bg-primary .opacity-0;
    content: '';
    width: 0;
    margin: 0 auto;
    height: 1px;
    transition: width ease 0.2s;
  }

  &:hover:after {
    @apply .opacity-100 .w-full;
  }
}

@screen md {
  .c-nav__link {
    @apply .inline-block .px-1 .mt-4;
    margin-top: 5px;
  }
}
