//======= Nav =======//

.c-nav {
  @apply .flex .items-center .justify-between .flex-wrap .bg-white .p-4;

  &.is-fixed {
    @apply .absolute .pin-t .pin-l;
    z-index: 3;
    background: transparent;
    width: 100%;
  }
}

@screen md {
  .c-nav {
    display: grid;
    grid-template-columns: 100px auto;
  }
}

//======= Nav Logo =======//

.c-nav__logo {
  display: block;
  position: relative;
  overflow: hidden;
  border-left: 4px solid var(--c-primary);
  border-right: 4px solid var(--c-primary);
  border-bottom: 4px solid var(--c-primary);
  width: 30px;
  height: 30px;
  transition: filter ease 0.3s;

  &:before,
  &:after {
    content: '';
    position: absolute;
    transition: transform ease 0.3s;
  }

  &:before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: var(--c-primary);
    transition: height ease 0.3s;
  }

  &:after {
    content: '~';
    font-size: 47px;
    bottom: -23px;
    left: -2px;
    transition: transform ease 0.3s;
  }

  &:hover {
    filter: grayscale(1);

    &:before {
      height: 5px;
    }

    &:after {
      transform: translateY(8px);
    }
  }
}

//======= Nav Title =======//

.c-nav__title-container {
  @apply .text-white .mr-6;
}

//======= Nav Mobile =======//

.c-nav__mobile {
  @apply .block;
}

@screen md {
  .c-nav__mobile {
    @apply .hidden;
  }
}

.c-nav__mobile-button {
  @apply .flex .items-center .px-3 .py-2 .border .rounded .text-secondary .border-secondary;
}

.c-nav__mobile-button-icon {
  @apply .fill-current .h-3 .w-3;
}

//======= Nav Inner =======//

.c-nav__inner {
  @apply .w-full .block .flex-grow;
  height: 0;
  overflow: hidden;

  &.is-open {
    height: auto;
  }
}

@screen md {
  .c-nav__inner {
    @apply .flex .items-center .w-auto;
    height: auto;
  }
}

.c-nav__inner-left {
  @apply .text-sm;
}

@screen md {
  .c-nav__inner-left {
    @apply .flex-grow;
  }
}

//======= Nav Icon =======//

.c-nav__icon {
  width: 20px;
  height: 20px;
}

//======= Nav Link =======//

.c-nav__link {
  @apply .block .mt-6 .text-primary .mr-4 .no-underline;

  .is-fixed & {
    @apply .text-white;
  }

  &:after {
    @apply .block .bg-primary .opacity-0;
    content: '';
    width: 0;
    margin: 0 auto;
    height: 1px;
    transition: width ease 0.2s;
  }

  &:hover:after,
  &.is-active:after {
    @apply .opacity-100 .w-full;
  }
}

@screen md {
  .c-nav__link {
    @apply .inline-block .px-1 .mt-0;
  }
}
