.c-now-playing {
  @apply .fixed .z-10;
  bottom: 85px;
  right: 35px;
}

.c-now-playing__trigger {
  @apply .flex .justify-center .items-center .relative;
  border-radius: 50%;
  background-color: #fff;
  width: 45px;
  height: 45px;
  transition: background ease 0.3s;

  &:focus {
    outline: none;
  }

  &:after {
    @apply .bg-primary .text-white .text-sm .p-3 .absolute .pin-r .pointer-events-none;
    content: var(--current-track);
    border-radius: 2px;
    line-height: 1.4;
    bottom: 100%;
    width: 230px;
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity ease 0.3s, transform ease 0.3s;
  }

  &:hover,
  &:focus {
    @apply .bg-primary;

    &:after {
      transform: translateY(-5px);
      opacity: 1;
    }

    .c-now-playing__icon {
      @apply .text-white;
    }
  }
}

.c-now-playing__icon {
  @apply .text-primary .relative;
  right: 2px;
  transition: color ease 0.3s;
}

.c-now-playing__icon {
  width: 25px;
  height: 25px;
}