{% extends 'layouts/default' %}

{% set socialTags = [
  { name: 'og:url', value: craft.app.request.absoluteUrl }
] %}

{% set metaTitle = 'Archive' %}

{% block content %}
<div class="l-container">
  <h1>Archive</h1>

  {% cache %}
  <p>
    I post about things such as
    {% for category in craft.categories.group('category').all() %}
    {% if loop.last %} and {% endif %}
    <a href="{{ category.url }}">{{ category.title }}</a>{% if not loop.last %},{% else %}.{% endif %}
    {% endfor %}
  </p>

  {% set allPosts = craft.entries.section('posts').limit(null).all() %}
  {% set allPostsByYear = allPosts | group('postDate | date("Y")') %}
  {% for year, entriesInYear in allPostsByYear %}
  <div class="c-sticky-list">
    <h2 class="c-sticky-list__title">{{ year }}</h2>
    <ul class="l-post-list">
      {% for entry in entriesInYear %}
      <li class="l-post-list__item">
        {% include 'posts/_preview' with { post: entry, showPostDate: true } only %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% endcache %}
{% endblock %}