{% extends 'layouts/default' %}

{% block content %}
<div class="l-container">
    <h1 class="mt-0">{{ entry.title }}</h1>

    {{ entry.postContent }}

    <form method="post" action="https://usebasin.com/f/efb8ce44c505" class="max-w-md mt-4" accept-charset="UTF-8">
        <label for="from-name">Your Name</label>
        <input id="from-name" type="text" name="fromName" value="">

        <label for="from-email">Your Email (required)</label>
        <input id="from-email" type="email" name="fromEmail" value="" required>

        <label for="subject">Subject</label>
        <input id="subject" type="text" name="subject" value="">

        <label for="message">Message (required)</label>
        <textarea rows="10" cols="40" id="message" name="message" required></textarea>

        <button type="submit" value="Send" class="c-btn c-btn-primary">Send</button>
    </form>
</div>
{% endblock %}