{% extends 'layouts/default' %}

{% block content %}
<div class="l-container">
    <h1 class="mt-0">{{ entry.title }}</h1>

    {{ entry.postContent }}

    {{ craft.freeform.form('contactForm', {
        instructionsBelowField: true,
        labelClass: '',
        class: 'max-w-md mt-4 js-contact-form',
        inputClass: '',
        submitClass: 'c-btn c-btn-primary',
        overrideValues: {
            hiddenFieldHandle: entry.id,
        }
    }).render() }}
</div>
{% endblock %}