{% extends 'layouts/default' %}

{% set socialTags = [
  { name: 'og:title', value: 'Thanks' },
  { name: 'og:url', value: craft.app.request.absoluteUrl }
] %}

{% set metaTitle = 'Thanks' %}

{% block content %}
<div class="l-container">
  <h1 class="mt-0">Contact</h1>

  <p>Sound. Your message should be landing in my inbox any moment now.</p>
</div>
{% endblock %}