{% extends 'layouts/default' %}

{% block content %}
<div class="l-container">
  <h1 class="mt-0">Contact</h1>

  <p>Sound. Your message should be landing in my inbox any moment now.</p>
</div>
{% endblock %}