{% extends 'layouts/default' %}

{% block content %}
  <h1 class="text-xl lg:text-4xl">Articles</h1>
  
  {% paginate craft.entries.section('posts').limit(5) as pageInfo, pageEntries %}
  
    <ul class="l-post-list">
    {% for entry in pageEntries %}
      <li>
        {% include 'components/post-preview' with { post: entry } only %}
      </li>
    {% endfor %}
    </ul>
    
    {% include 'components/pagination' with { pageInfo: pageInfo } only %}
  
{% endblock %}