{% extends 'layouts/default' %}

{% block content %}

  <div class="l-home-page">
    <div>
      <h1>TJ Fogarty</h1>
    </div>

    <div>
      {% include 'posts/_latest' %}
    </div>
  </div>

{% endblock %}