{% extends 'layouts/default' %}

{% block content %}
  <div class="c-hero">
    <div class="c-hero__content">
      <div class="l-container">
        <h1 class="c-hero__title">Hi, I'm TJ, a front-end developer from Limerick, Ireland</h1>
      </div>
    </div>
    <img
      sizes="(max-width: 1600px) 100vw, 1600px"
      srcset="
      /images/tramore_chdyld_c_scale,w_200.jpg 200w,
      /images/tramore_chdyld_c_scale,w_423.jpg 423w,
      /images/tramore_chdyld_c_scale,w_594.jpg 594w,
      /images/tramore_chdyld_c_scale,w_738.jpg 738w,
      /images/tramore_chdyld_c_scale,w_874.jpg 874w,
      /images/tramore_chdyld_c_scale,w_991.jpg 991w,
      /images/tramore_chdyld_c_scale,w_1102.jpg 1102w,
      /images/tramore_chdyld_c_scale,w_1212.jpg 1212w,
      /images/tramore_chdyld_c_scale,w_1315.jpg 1315w,
      /images/tramore_chdyld_c_scale,w_1408.jpg 1408w,
      /images/tramore_chdyld_c_scale,w_1508.jpg 1508w,
      /images/tramore_chdyld_c_scale,w_1575.jpg 1575w,
      /images/tramore_chdyld_c_scale,w_1600.jpg 1600w"
      src="/images/tramore_chdyld_c_scale,w_1600.jpg"
      alt="Tramore Beach, County Waterford"
      class="c-hero__image">
  </div>

  <div class="l-container l-homepage">
    <div>
      <h2>About me</h2>

      <p>I'm a front-end/ui/web developer hailing from the great county of Limerick in Ireland. I mostly work in JavaScript, CSS and PHP. I spend my days tinkering with code and side-projects, but you can find me on <a href="https://twitter.com/tj_fogarty" target="_blank" rel="noopener">Twitter</a>, <a href="https://codepen.io/tjFogarty/" target="_blank" rel="noopener">CodePen</a>, and <a href="https://github.com/tjFogarty" target="_blank" rel="noopener">GitHub</a>. If you want to get in contact, you can hit me up on Twitter or via the <a href="/contact">contact page</a>.</p>
    </div>

    <div>
      {% cache %}
      {% include 'posts/_latest' %}
      {% endcache %}
    </div>
  </div>

{% endblock %}