{% extends 'layouts/default' %}

{% block content %}

  {% paginate craft.entries.section('posts').limit(6) as pageInfo, pageEntries %}

    <ul class="l-post-list">
    {% for entry in pageEntries %}
      <li class="l-post-list__item">
        {% include 'components/post-preview' with { post: entry } only %}
      </li>
    {% endfor %}
    </ul>

    {% include 'components/pagination' with { pageInfo: pageInfo } only %}

{% endblock %}