{% if craft.app.config.general.devMode %}
  <div
    style="
      position: fixed;
      bottom: 0;
      z-index: 1;
      text-align: center;
      width: 100%;
      background: yellow;
      color: black;
    "
  >
  Dev Mode ⚠️
  </div>
{% endif %}