<svg style="width:0;height:0;overflow:hidden;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="close"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>

        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="github" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
        </svg>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="music" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 17H5a2 2 0 0 0-2 2 2 2 0 0 0 2 2h2a2 2 0 0 0 2-2zm12-2h-4a2 2 0 0 0-2 2 2 2 0 0 0 2 2h2a2 2 0 0 0 2-2z" />
            <path d="M9 17V5l12-2v12" />
        </svg>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="twitter" xmlns="http://www.w3.org/2000/svg">
            <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="rss">
            <path d="M4 11a9 9 0 0 1 9 9" />
            <path d="M4 4a16 16 0 0 1 16 16" />
            <circle cx="5" cy="19" r="1" />
        </svg>
        <svg viewBox="0 0 77 79" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="logo" fill="var(--c-primary)">
            <title>Logo</title>
            <desc>Created using Figma</desc>
            <g id="Canvas" transform="translate(275 103)">
            <g id="Group">
            <g id="Rectangle 2">
            <use xlink:href="#path0_fill" transform="translate(-272 -60)"/>
            </g>
            <g id="~">
            <use xlink:href="#path1_fill" transform="translate(-278 -164)" fill="currentColor"/>
            </g>
            <g id="Vector">
            <use xlink:href="#path2_stroke" transform="translate(-272 -100)"/>
            </g>
            </g>
            </g>
            <defs>
            <path id="path0_fill" d="M 0 0L 71 0L 71 32L 0 32L 0 0Z"/>
            <path id="path1_fill" d="M 23.7656 103.867C 21.2812 103.867 18.5391 104.664 15.5391 106.258C 12.5859 107.805 9.84375 109.844 7.3125 112.375L 7.3125 101.758C 12 96.6484 17.7188 94.0938 24.4688 94.0938C 27.6562 94.0938 30.5625 94.4219 33.1875 95.0781C 35.8594 95.7344 39.2812 96.9531 43.4531 98.7344C 46.5469 100.047 49.2422 101.031 51.5391 101.688C 53.8359 102.297 56.0859 102.602 58.2891 102.602C 60.8203 102.602 63.5859 101.852 66.5859 100.352C 69.5859 98.8516 72.3516 96.7656 74.8828 94.0938L 74.8828 104.641C 70.1016 109.797 64.3828 112.375 57.7266 112.375C 54.3516 112.375 51.1875 112 48.2344 111.25C 45.2812 110.453 42.1172 109.305 38.7422 107.805C 35.2266 106.305 32.4141 105.273 30.3047 104.711C 28.1953 104.148 26.0156 103.867 23.7656 103.867Z"/>
            <path id="path2_stroke" d="M 2.5 0C 2.5 -1.38071 1.38071 -2.5 0 -2.5C -1.38071 -2.5 -2.5 -1.38071 -2.5 0L 2.5 0ZM 0 73L -2.5 73C -2.5 74.3807 -1.38071 75.5 5.55112e-16 75.5L 0 73ZM 71 73L 71 75.5C 72.3807 75.5 73.5 74.3807 73.5 73L 71 73ZM 73.5 0C 73.5 -1.38071 72.3807 -2.5 71 -2.5C 69.6193 -2.5 68.5 -1.38071 68.5 0L 73.5 0ZM -2.5 0L -2.5 73L 2.5 73L 2.5 0L -2.5 0ZM 0 75.5L 71 75.5L 71 70.5L 0 70.5L 0 75.5ZM 73.5 73L 73.5 0L 68.5 0L 68.5 73L 73.5 73Z"/>
            </defs>
        </svg>
    </defs>
</svg>