{% set lastSegment = craft.app.request.segments | last %}

<nav class="c-nav {% if lastSegment == '' %} is-fixed {% endif %}" role="navigation">
  <div class="c-nav__title-container">
    <a href="/" class="c-nav__logo-container" title="Home">
      <span class="c-nav__logo" aria-label="Home"></span>
    </a>
  </div>
  <div class="c-nav__inner">
    <a href="/archive" class="c-nav__link {% if lastSegment == 'archive' %} is-active {% endif %}">
      Archive
    </a>
    <a href="/projects" class="c-nav__link {% if lastSegment == 'projects' %} is-active {% endif %}">
      Projects
    </a>
    <a href="/about" class="c-nav__link {% if lastSegment == 'about' %} is-active {% endif %}">
      About
    </a>
    <a href="/contact" class="c-nav__link {% if lastSegment == 'contact' %} is-active {% endif %}">
      Contact
    </a>
    <a href="#" class="c-nav__link js-search" aria-label="Search">
      <svg class="c-nav__icon">
        <use xlink:href="#search"></use>
      <svg>
    </a>
  </div>
</nav>
