<h3 class="mt-6 md:mt-3">Recently played tracks</h3>

{% cache for 20 minutes %}

{% set client = {
  base_uri: 'https://ws.audioscrobbler.com',
  timeout: 10
} %}

{% set options = {
  form_params: {
    method: 'user.getrecenttracks',
    user: 'cowpuncher',
    api_key: 'dc2e7242feba68442dda3281bdd202f0',
    format: 'json',
    limit: '5'
  }
} %}

{% set jsonResponse = fetch(client, 'GET', '2.0', options) %}
{% set recentlyPlayed = jsonResponse.body['recenttracks'] %}

<ul class="list-reset">
  {% for item in recentlyPlayed['track'] %}
    <li>
      <p>
        <a href="{{ item['url'] }}" target="_blank" rel="noopener">
          {{ item['name'] }}
          by
          {{ item['artist']['#text'] }}
        </a>
        <small class="block">{{ item['date']['#text'] }}</small>
      </p>
    </li>
  {% endfor %}
</ul>
{% endcache %}
<p><small>Data provided by the <a href="https://www.last.fm/api" target="_blank" rel="noopener">Last.fm API</a></small></p>