<h3 class="mt-6 md:mt-3">Recently played tracks</h3>

{% cache for 1 hour %}
{% set jsonResponse = fetchJson({
  'url': 'https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=cowpuncher&api_key=dc2e7242feba68442dda3281bdd202f0&format=json&limit=5'
}) %}

{% set recentlyPlayed = jsonResponse['recenttracks'] %}

<ul class="list-reset">
  {% for item in recentlyPlayed['track'] %}
    <li>
      <p>
        {{ item['name'] }}
        by
        {{ item['artist']['#text'] }}
      </p>
    </li>
  {% endfor %}
</ul>
{% endcache %}
<p>Data provided by the <a href="https://www.last.fm/api" target="_blank" rel="noopener">Last.fm API</a></p>