<div class="c-share">
  <p class="c-share__title">
    <small>Share</small>
  </p>
  <a target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?text={{ entry.title }}&amp;url={{ entry.url }}&amp;via=tj_fogarty" class="c-share__link" title="Share on Twitter">
    <svg class="c-share__icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
    </svg>
  </a>
  <a target="_blank" rel="noopener" href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}" class="c-share__link" title="Share on Facebook">
    <svg class="c-share__icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
    </svg>
  </a>
</div>