<div class="my-6">
  {% if pageInfo.prevUrl %}
    <a class="c-btn c-btn-primary" href="{{ pageInfo.prevUrl }}">Previous Page</a>
  {% endif %}

  {% if pageInfo.nextUrl %}
    <a class="c-btn c-btn-primary" href="{{ pageInfo.nextUrl }}">Next Page</a>
  {% endif %}
</div>